/CalculoAguinaldo/nbproject/private/
/Examen1/nbproject/private/

**/*.bak
**/*.swp
**/.swp
**/*.swo
**/.swo


**/.netbeans-*/ 
**/.netbeans/

*.log
*.tmp

**/build/
**/dist/

nbproject/private/
*.iml

.idea/
*.iws
*.iml
*.ipr

out/
target/

*.user
*.userprefs
